.myProducts {
  padding-top: 100px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .title {
    color: white;
    margin-top: -100px !important;
  }
  .slider {
    a {
      padding: 20px;
      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 575.98px) {
  .slider {
    a {
      padding: 0px 50px !important;
    }
  }
  .slick-prev {
    margin-left: 45px;
  }
  .slick-next {
    margin-right: 45px;
  }
}
